body{
  margin-top: 20px;
  font-family: "Courier New", sans-serif;
  text-align: center;
  color: #fff;
  background-color: #000;
}

#target{
  height: 600px;
  font-size: 30px;
  text-align: initial;
  border: 2px solid #fff;
  border-radius: 0.8em;
  letter-spacing: 3px;
  margin: 30px 200px;
  padding-top: 10px;
  padding-left: 10px;
}

/* textarea {
  padding: 0.5em;
  font-size: 30px;
  color: #fff;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 0.8em;
  outline: none;
} */
.inputed {
  color: red;
}

.cursor {
  text-decoration: underline;
}

.hidden {
  color: #333;
}

.info{
  font-size: 22px;
  color: #ccc;
}

.info > #letters {
  color: green;
}

.info > #missCount {
  color: red;
}

.info > #time{
  color: blue;
}
#start{
  margin-top: -500px;;
  font-size: 60px;
  color: #fff;
}
