body{
  padding-top: 40px;
  font-family: "Courier New", sans-serif;
  text-align: center;
}

/* #target{
  height: 400px;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: left;
  margin: 30px 200px;
} */

textarea {
  font-size: 30px;
}
.info{
  color: #ccc;
}

#start{
  font-size: 48px;
}
