/* body{
  width: 80%;
  margin: 20px auto 0;
  font-family: "Courier New", sans-serif;
  text-align: center;
  color: #fff;
  background-color: #000;
} */

/* h1 {
  margin-bottom: -50px;
  font-size: 50px;
} */

/* #target{
  height: 600px;
  font-size: 30px;
  text-align: initial;
  border: 2px solid #fff;
  border-radius: 0.8em;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-top: 10px;
  padding-left: 10px;
  overflow: auto;

  position: relative;
} */

.inputed {
  color: green;
}

.cursor {
  text-decoration: underline;
}
.miss{
  background-color:white;
  color:red;
}
.hidden {
  color: #333
}

/* .info{
  text-align: right;
  font-size: 22px;
  color: #ccc;
} */

/* .info p {
  margin: 0;
} */

/* .info > #Uname {
  color: white;
} */

/* .info > #letters {
  color: green;
} */

/* .info > #missCount {
  color: red;
} */

/* .info > #time{
  color: blue;
} */

/* #start {
  width: 60%;
  min-width: 800px;
  margin: -400px auto 0;
  font-size: 60px;
  color: #fff;
  position: relative;
  z-index: 2;
}

#load {
  min-width: 800px;
  font-size: 60px;
  color: #fff;
  position: absolute;
  top: 300px;
  right: 0;
  left: 0;
} */

/* #mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.hiddenMask {
  display: none;
} */

/* #modal {
  font-size: 20px;
  color: #000;
  background-color: #fff;
  padding: 20px;
  width: 350px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: .8s;
} */

#modal p {
  margin-bottom: 20px;
}

.hiddenModal {
  transform: translate(0, -500px);
}

#again, #returnMenu {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgba(150, 150, 150, 0.5);
}

.modalButton {
  column-count: 2;
}

/* new */
@font-face {
  font-family: 'MyricaM';
  src: url(../font/MyricaM.ttf);
}

@media screen and (max-width: 640px) {
  body {
    width: 640px;
  }
}

body {
  background-color: #282C34;
  margin: 0;
  padding: 0;
  font-family: MyricaM;
  font-size: 17px;
  color: #FFFFFF;
}

.sidebar-container {
  background-color: #21252B;
  width: 15%;
  height: 100vh;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 0;
}

.logo-container {
  text-align: center;
  border-bottom: #181A1F solid 1px;
  box-sizing: border-box;
}

.logo-container a {
  height: auto;
  overflow: hidden;
}

.auth-container {
  padding-left: 5%;
  height: auto;
  overflow: hidden;
}

.username img {
  height: 1em;
}

.besttime img {
  height: 1em;
}

.counter-container {
  padding-left: 5%;
  height: auto;
  overflow: hidden;
}

.body-container {
  width: 75%;
  height: 90vh;
  overflow: hidden;
  float: right;
  margin: 5vh 5%;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.source-title {
  padding-left: 20px;
  color: #000;
  background-color: #fff;
  font-size: 2em;
  order: 0;
}

.game-container {
  height: auto;
  overflow: hidden;
  order:1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#target {
  padding-left: 16px;
  font-family: MyricaM;
  font-size: 1.5em;
  text-align: initial;
  letter-spacing: 3px;
  overflow: auto;
  flex-grow: 1;
}

#mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.hiddenMask {
  display: none;
}

#modal {
  color: #000;
  background-color: #fff;
  padding: 20px;
  width: 350px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  margin: 0 auto;
  /* transition: .8s; */
}

#start {
  min-width: 600px;
  font-size: 40px;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 40vh;
  right: 0;
  left: 15%;
}

#load {
  width: 100%;
  min-width: 800px;
  font-size: 60px;
  color: #fff;
  position: fixed;
  text-align: center;
  top: 40vh;
}
