@font-face {
  font-family: 'MyricaM';
  src: url(font/MyricaM.ttf);
}

body{
  background-color: #282C34;
  margin: 0;
  padding: 0;
  font-family: MyricaM;
  font-size: large;
  color: #FFFFFF
}

div.sidebar-container {
  background-color: #21252B;
  width: 20%;
  height: 1000px;
  float: left;
  margin: 0;
  padding: 0;
}

div.logo-container{
  color: #CBCED4;
  text-align: center;
  border-bottom: #181A1F solid 1px;
}

div.body-container {
  width: 80%;
  float: right;
  margin: 0;
  padding: 0;
}

ul.languages-container {
  width: 100%;
  background-color: #21252B;
  padding: 0;
  font-size: 0px;
}

ul.languages-container li {
  width: 25%;
  border-right: 1px solid #181A1F;
  border-bottom: #181A1F solid 1px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

ul.languages-container li:hover {
  opacity: 0.7;
}

ul.languages-container li:first-child {
  border-left: 1px solid #181A1F;
}

ul.languages-container li img{
  height: 30px;
  padding: 10px 0;
}

#lineNumber {
  width: 20px;
  margin-right: 5px;
  float: left;
  text-align: right;
  color: rgba(150, 150, 150, 0.7);
  padding: 0 5px 0 3px;
  border-right: 1px solid rgba(150, 150, 150, 0.7);
}

.content-container > #description {
  margin-left: 50px;
}

.main-logo-container {
  text-align: center;
}

.main-logo-container img{
  object-fit: contain;
}

.gameStart-button {
  text-align: center;
}

#footer {
  background-color: #181A1F; 
  text-align: center;
}
