@font-face {
  font-family: 'MyricaM';
  src: url(font/MyricaM.ttf);
}

body{
  background-color: #282C34;
  margin: 0;
  padding: 0;
  font-family: MyricaM;
  font-size: large;
  color: #FFFFFF
}

div.sidebar-container {
  background-color: #21252B;
  width: 20%;
  height: 1000px;
  float: left;
  margin: 0;
  padding: 0;
}

authButton {
    cursor: pointer;
}

#Uname {
  text-align: left;
  font-size: 22px;
  color: white;
}



div.logo-container{
  color: #CBCED4;
  text-align: center;
  border-bottom: #181A1F solid 1px;
}

div.body-container {
  width: 80%;
  float: right;
  margin: 0;
  padding: 0;
}

ul.languages-container {
  width: 100%;
  background-color: #21252B;
  padding: 0;
  font-size: 0px;
}

ul.languages-container li {
  width: 25%;
  border-right: 1px solid #181A1F;
  border-bottom: #181A1F solid 1px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

ul.languages-container li:hover {
  opacity: 0.7;
}

ul.languages-container li:first-child {
  border-left: 1px solid #181A1F;
}

ul.languages-container li img{
  height: 30px;
  padding: 10px 0;
}

#lineNumber {
  width: 20px;
  margin-right: 5px;
  float: left;
  text-align: right;
  color: rgba(150, 150, 150, 0.7);
  padding: 0 5px 0 3px;
  border-right: 1px solid rgba(150, 150, 150, 0.7);
}

.content-container > #description, #catchCopy, #practiceModeDescription, #timeAttackModeDescription, #attention {
  margin-left: 50px;
}

.lightgreen {
  color: lightgreen;
}

.skyblue {
  color: skyblue;
}

.pink {
  color: pink;
}

.main-logo-container {
  text-align: center;
}

.main-logo-container img{
  object-fit: contain;
}

.menu {
  height: 500px;
  width: 1000px;
  margin: auto;
}

.leftMenu {
  width: 300px;
  float: left;
  margin: auto;
}


#fileList {
  height: 400px;
  width: 250px;
  margin: 0 auto 50px;
  border: 2px solid #fff;
  overflow: auto;
}

button {
  color: #fff;
  font-size: 30px;
  height: 50px;
  width: 200px;
  background-color: red;
  cursor: pointer;
  overflow: hidden;
}

button:hover {
  opacity: 0.7;
}

.active {
  float: right;
}

.rightMenu {
  width: 660px;
  float: right;
  margin: auto;
}

.rightMenu > #description {
  height: 2em;
  border: 1px solid #fff;
  border-radius: 3px;
}

.rightMenu > #code {
  height: 250px;
  overflow: auto;
  border: 1px solid #fff;
  border-radius: 3px;
}

.rightMenu > #code > #target{
  text-align: initial;
  font-size: 20px;
}

.rightMenu > #ranking {
  height: 100px;
  overflow: auto;
  border: 1px solid #fff;
}

.button {
  width: 1000px;
  margin: auto;
  column-count: 2;
}
.Dbutton {
  margin: auto;
  font-size: 30px;
  height: 50px;
  width: 200px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: #555;
  color: #FFF;
  /* border-bottom: solid 5px #333;
  border-right: solid 5px #333; */
  border: 5px solid #333;
}

.Dbutton:before {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
}

.Dbutton:after {
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #333;
  border-bottom-color: transparent;
}

.Dbutton:active {
  border:none;
  -ms-transform: translate(6px,6px);
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
}

.Dbutton:hover{
  opacity: 0.7;
}

.leftButton {
  width: 300px;
  float: left;
}

.rightButton {
  width: 300px;
  float: right;
}

#Uname{
  text-align: left;
  font-size: 22px;
  color: white;
}

#Ubutton {
  margin: auto;
  font-size: 30px;
  height: 50px;
  width: 300px;
  cursor: pointer;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: red;
  color: #FFF;
}

#mask {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#modal, #modalAuth{
  display: none;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 20px;
  width: 500px;
  height: 300px;
  border-radius: 4px;
  position:fixed;
  z-index: 2;
}

#modal, #modalAuth p {
  margin-bottom: 20px;
}

#modal, #modalAuth #noteTitle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}

#modal #note {
  font-size: 16px;
}

 #modal #caution {
  color: red;
}

.modalButton {
  height: 35px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  column-count: 2;
}

#selfiles, #ok, #close {
  cursor: pointer;
  width: 230px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: rgba(150, 150, 150, 0.5);
}

.submit {
  cursor: pointer;
  width: 230px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: rgba(150, 150, 150, 0.5);
}

.space {
  width: 230px;
  height: 30px;
  background-color: #fff;
}

#selfile {
  display: none;
}

.hidden {
  display: none;
}

#footer {
  background-color: #181A1F;
  text-align: center;
}
