body{
  width: 80%;
  margin: 20px auto 0;
  font-family: "Courier New", sans-serif;
  text-align: center;
  color: #fff;
  background-color: #000;
}

#target{
  height: 600px;
  font-size: 30px;
  text-align: initial;
  border: 2px solid #fff;
  border-radius: 0.8em;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-top: 10px;
  padding-left: 10px;
}

.inputed {
  color: red;
}

.cursor {
  text-decoration: underline;
}

.hidden {
  color: #000;
}

.info{
  text-align: right;
  font-size: 22px;
  color: #ccc;
}

.info p {
  margin: 0;
}

.info > #letters {
  color: green;
}

.info > #missCount {
  color: red;
}

.info > #time{
  color: blue;
}
#start{
  width: 60%;
  margin: -400px auto 0;
  font-size: 60px;
  color: #fff;
}
